.container {
  background-color: #3998d3;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem;
}

.message-container {
  background-image: url("./img/Body_BG.png");
  padding: 0.625rem 0;
}

.cards {
  margin: 0.5rem 0;
}
